{
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": ["^src/(.*)$", "^[./]", "^(.*?)(\\.scss|\\.css)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "endOfLine": "lf"
}
