.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  opacity: 0.5;
}

.App-logo.animated {
  animation: App-logo-congrats 2s linear;
}

.App-header {
  background-color: #282c34;
  min-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-congrats {
  from {
    opacity: 0.5;
    transform: rotate(0deg) scale(1);
    filter: hue-rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: rotate(270deg) scale(1.8);
    filter: hue-rotate(135deg);
  }
  to {
    opacity: 0.5;
    transform: rotate(540deg) scale(1);
    filter: hue-rotate(0deg);
  }
}

button {
  padding: 10px;
  font-size: 24px
}

.dices {
  display: flex;
  gap: 30px;
  padding: 40px 80px;
}

.dice + .dice {
  margin-top: 7px
}
