.App-logo {
  height: 40vmin;
  pointer-events: none;
  opacity: 0.5;
}

.App-logo.animated {
  animation: App-logo-congrats 2s linear;
}

@keyframes App-logo-congrats {
  from {
    opacity: 0.5;
    transform: rotate(0deg) scale(1);
    filter: hue-rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: rotate(270deg) scale(1.8);
    filter: hue-rotate(135deg);
  }
  to {
    opacity: 0.5;
    transform: rotate(540deg) scale(1);
    filter: hue-rotate(0deg);
  }
}
